
<table border="1">
    <tr>
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        <th>Symbol</th>
        <th>LTP</th>
        <th>Momentum</th>
        <th>OPEN</th>
        <th>Deviation from Pivots</th>
        <th>Todays Range</th>
        <th >OHL</th>
      
    </tr>

    <tr *ngFor="let table of tables">
        <td>{{table.symbol}}</td>
        <td>{{table.ltp}}</td>
        <td id="momentum">{{table.stockMomentumRank}} , {{table.stockOutperformanceRank}} , {{table.sectorTodayRank}}</td>   
        <td>{{table.open}}</td>
        <td></td>
       
        <td>{{table.low}}, {{table.high}}</td>
        <!-- <td id="ohl">{{table.openHighLowSignal}}</td> -->
        <td [ngClass]="{'red': table.openHighLowSignal === 'Open=High', 'green': table.openHighLowSignal === 'Open=Low'}">{{table.openHighLowSignal}}</td>
    </tr>
    
</table>

